<h2>Your list</h2>

<table>
  <tr>
    <th>Num.</th>
    <th>Nazwa produktu</th>
    <th>Opis</th>
    <th>Kategoria</th>
    <th>Cena</th>
    <th>Usuń pozycję</th>
  </tr>
  <tr  *ngFor="let item of itemsList" >
    <td>1</td>
    <td>{{item.item}}</td>
    <td>{{item.details}}</td>
    <td>{{item.category}}</td>
    <td>{{item.price}}</td>
    <td><button (click)="onDelete(item)">X</button></td>
  </tr>
</table>

<div class="summary">
  <div class="totalPrice">Suma: {{totalPrice}} PLN</div>
  <div class="totalItems">Ilość pozycji: {{totalItems}} </div>
 </div>
