<h3 class="title">Lista</h3>

<div class="wrapper" style="overflow-x:auto;">
<select [(ngModel)]="chosenCategory">
  <option *ngFor="let item of categories" [value]="item">{{item}}</option>
  <option value="">pokaż wszystkie kategorie</option>
</select>
<button type="text" id="filter" (click)="filterTable()">Zatwierdź</button>


<table>
  <tr>
    <th>Num.</th>
    <th>
      Nazwa produktu
      <span (click)="sortTable('title', 1)"><mat-icon>keyboard_arrow_up</mat-icon></span> 
      <span (click)="sortTable('title', -1)"><mat-icon>keyboard_arrow_down</mat-icon></span>
    </th>
    <th>
      Opis
      <span (click)="sortTable('details', 1)"><mat-icon>keyboard_arrow_up</mat-icon></span> 
      <span (click)="sortTable('details', -1)"><mat-icon>keyboard_arrow_down</mat-icon></span>
    </th>
    <th>
      Kategoria
      <span (click)="sortTable('category', 1)"><mat-icon>keyboard_arrow_up</mat-icon></span> 
      <span (click)="sortTable('category', -1)"><mat-icon>keyboard_arrow_down</mat-icon></span>
     </th>
    <th>Cena
      <span (click)="sortTable('price', 1)"><mat-icon>keyboard_arrow_up</mat-icon></span> 
      <span (click)="sortTable('price', -1)"><mat-icon>keyboard_arrow_down</mat-icon></span>
    </th>
    <th>Usuń pozycję</th>
  </tr>
  <tbody>
  <tr *ngFor="let item of itemsList" >
    <td></td>
    <td>{{item.item}}</td>
    <td>{{item.details}}</td>
    <td>{{item.category}}</td>
    <td>{{item.price}}</td>
    <td><button class="delete" (click)="onDelete(item)">X</button></td>
  </tr>
</tbody>
</table>
</div>

<div class="summary">
  <h3>Podsumowanie</h3>
  <div class="totalPrice">Suma: {{totalPrice}} PLN</div>
  <div class="totalItems">Ilość pozycji: {{totalItem}} </div><br><br>
 </div><br>
