<h3>Add items to the list</h3>

<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" ngNativeValidate>
  <label for="item">Add item</label>
  <input placeholder="Add item" ngModel name="item" required />
  <label for="details">Add details</label>
  <input placeholder="Add details" ngModel name="details" required />
  <label for="category">Choose category of your item</label>
  <select ngModel name="category" id="category" required>
    <option value="furniture">furniture</option>
    <option value="accessories">accessories</option>
    <option value="computer">computer</option>
    <option value="upgrades">upgrades</option>
  </select>
  <label for="price">Add price</label>
  <input placeholder="Add price" ngModel name="price" required />
  <button type="submit">Add</button>
</form>

