.wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

label{
    text-align: left;
}

input, select{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
