<h3>Dodaj produkty do listy</h3>

<div class="wrapper">
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" ngNativeValidate>
  <label for="item">Dodaj produkt</label><br>
  <input placeholder="Nazwa" ngModel name="item" required/><br>
  <label for ="details">Dodaj szczegóły</label><br>
  <input placeholder="Dodaj dane szczegółowe typu firma oraz model produktu" ngModel name="details" required/><br>
  <label for="category">Wybierz kategorię produktu</label><br>
  <select ngModel name="category" id="category" required>
  <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select><br>
  <label for="price">Podaj cenę</label><br>
  <input placeholder="Podaj cenę" ngModel name="price" required /><br>
  <button type="submit">Dodaj</button><br>
</form>
</div>

<p><input type="text" placeholder="dodaj kategorię" id="category" name="newCategory" [(ngModel)]="category"></p>
<button type="button" (click)="addCategory()">Clickme</button>